#clock{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;

}

#clock:hover{
    background-color: #ff6b81;
    color: #2f3542;
}

.splash-screen{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(way.jpg);
    background-size: cover;
}